# my venv
venv/

# copilot instructions
*.instructions.md
.github/instructions/

# cache files
__pycache__/

# MNIST data
*.npy

# processed MNIST data
X_test.hkl
X_train.hkl
X_val.hkl

# training scripts
*.bat

# test file
mnist_test_500.py

# original Kitti stuffs
raw/
kitti_raw_data_test.zip
main_movies.zip
main_movies/
sources_val.hkl
orlando_data/
snake_plots/
snake_video/
data/
*.mp4

